.services-link 
{
   display: flex;
   justify-content: space-between;
}
h1 
{
    text-align: center;
    margin: 12px;
}

.card 
{
    height: 230px;
    width: 400px;
    background-color: #d6d3d3c7;
    margin: 10px;
    padding: 10px;
}

.services-link a 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 1rem;
}


.card a 
{
    text-decoration: underline;
    color: blue;
    position: relative;
    top: 30px;
    left: 220px;
}

.card h3 
{
    text-align: center;
    padding: 10px;
}